<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Sunflower:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link href="assets/plugins/custom/prismjs/prismjs.bundle.css" rel="stylesheet" type="text/css" />
    <!--end::Page Vendor Stylesheets-->
    <!--begin::Global Stylesheets Bundle(used by all pages)-->
    <link href="assets/plugins/global/plugins.bundle.css" rel="stylesheet" type="text/css" />
    <link href="assets/css/style.bundle.css" rel="stylesheet" type="text/css" />
    <link href="/styles.css" rel="stylesheet"  type="text/css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
    <link href="/styles.css" rel="stylesheet"  type="text/css">
    <link href="/styles.css" rel="stylesheet"  type="text/css">
</head>
<div class="main-content" style="border-radius: 10px;">
    <p class="text-center" style="font-size: x-large; font-weight: bolder;">
        <span th:text="${group.groupName}"></span>
            <span class="float-end"></span>
            <div class ="headertest">
                <div class="create-task-btn">
                    <button data-bs-toggle="modal" data-bs-target="#modal_create">Create Task</button>
                </div>
                <div class="navigation-btn">
                    <button data-bs-toggle="modal" data-bs-target="#modal_detail">Group</button>
                </div>
            </div>

            <div class="scrum-board">
                <div class="column" id="todo" > <!-- Updated -->
                    <h2>To Do</h2>
                    <div class="row" id="todotask">

                    </div>
                </div>
            <div class="column" id="doing" > <!-- Updated -->
                    <h2>Doing</h2>
                    <div class="row" id="doingtask">

                    </div>

            </div>
            <div class="column" id="checking" > <!-- Updated -->
                    <h2>Checking</h2>
                    <div class="row" id="checkingtask">

                    </div>
            </div>
            <div class="column" id="done">
                    <h2>Done</h2>
                    <div class="row" id="donetask">

                    </div>
            </div>
            </div>
    </div>
<!-- END MAIN PAGE -->

<!-- MODAL ZONEEEE -->
      <!-- Group detail modal  -->
      <div class="modal fade" tabindex="-1" id="modal_detail">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title"><span th:text="${group.groupName}"></span></h2>

                    <!--begin::Close-->
                    <div class="btn btn-icon btn-sm btn-active-light-primary ms-2" data-bs-dismiss="modal" aria-label="Close">
                        <span class="svg-icon svg-icon-2x"></span>
                    </div>
                    <!--end::Close-->
                </div>
                <div class="modal-body" id="detail_body">
                    <table class="detail-table" id="groupdetailtable">
                        <div class="row">
                            <!-- 50:50 col -->
                            <div class="col">
                                <h3>
                                    Subject ID : <span th:text="${group.subject.subjectID}"></span>
                                </h3>
                                <h3>
                                    Section : <span th:text="${group.section}"></span>

                                </h3>
                                <h3>
                                    Member :<span th:text="${group.maxMember}"></span>
                                </h3>
                                <h3>
                                    Group Owner : <span th:text="${group.groupOwner}"></span>
                                </h3>
                                <h3>
                                    Tag : <div th:each="tag : ${group.tag}">
                                          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span th:text="${tag}"></span></div>
                                </h3>
                                <h3>
                                    Group Description </br>
                                    <span th:text="${group.groupDescription}"></span>
                                </h3>
                            </div>
                            <div class="col">
                          
                                <h3>
                                    Group Member &nbsp; <span th:text="${group.joinedMember}+'/'+${group.maxMember}"></span>
                                </h3>
                              
                               <div th:each="member : ${members}">
                                <!-- <button type="button" data-bs-target="#modal_memberprofile" data-bs-toggle="modal" class="btn btn-light getprofile" th:value="${member['username']}" onclick="getMemberProfile()"> -->
                                        <span th:text="${member.username}"></span>
                                     <span th:text="${member.firstName}"></span>
                                       <span th:text="${member.lastName}"></span>
                                <!-- </button> -->
                                 </h3>
                            
                                </div>

                            </div>
                        </div>
                    </table>
            </div>
    
                <div class="modal-footer"></div>
            </div>
        </div>
    </div>
    <!-- task form -->


  <!-- Create task Modal -->
  <div class="modal fade" id="modal_create" tabindex="-2" aria-labelledby="modal_create" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modal_createLabel">Create Task</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form id="createTaskForm" class="form-container">  
          
            <label for="taskName"><b>Task Name</b></label>
            <input type="text" placeholder="Enter Task Name" id="taskName" required>
          
          
            <label for="member"><b>Member</b></label>
            <select class="form-select form-select-solid" id="mutiselect" data-control="select2" required aria-label="select member"  data-allow-clear="true" multiple="multiple" >
                <div th:each="memlist : ${members}">
                    <option th:text="${memlist['username']+' '+ memlist['firstName']+' '+ memlist['lastName'] }" th:value="${memlist['username']}"></option>
                </div>
            </select>
            
           
            <label for="deadline"><b>Deadline</b></label>
            <input type="datetime-local" id="deadline" >
          
            
            <label for="description"><b>Description</b></label>
            <textarea placeholder="Enter Task Description" id="description"></textarea>
            
            <input type="hidden" id="doc_id" th:value="${group['documentId']}"></input>
               
        </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancle</button>
          <button type="button" class="btn btn-primary" onclick="saveTask()" >Create task</button>
        </div>
      </div>
    </div>
  </div>

  <!-- group detail modal to do  -->
  <div class="modal fade" id="modal_taskdetail" tabindex="-1" aria-labelledby="modal_taskdetail" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modal_taskdetailLabel">task details</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
        <!-- task detail from js func -->
        
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" onclick="changestatetoDoing()" id="changestatetoDoing" >Doing</button>
        </div>
      </div>
    </div>
  </div>
<!-- end -->
    
    

<!-- END MODAL ZONEEEE -->
<!-- prepare modal zone -->
<div class="modal fade" id="modal_taskdetaildoing" tabindex="-1" aria-labelledby="modal_taskdetaildoing" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modal_taskdetailLabel">task details</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
        <!-- task detail from js func -->
        
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" onclick="changestatetoToDo()" id="changestatetoToDo">To Do</button>
          <button type="button" class="btn btn-primary" onclick="changestatetoChecking()" id="changestatetoChecking">Checking</button>

        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="modal_taskdetailchecking" tabindex="-1" aria-labelledby="modal_taskdetailchecking" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modal_taskdetailLabel">task details</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
        <!-- task detail from js func -->
        
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" onclick="changestatetoToDo()"id="changestatetoToDo" >To Do</button>
          <button type="button" class="btn btn-primary" onclick="changestatetoDone()" id="changestatetoDone">Done</button>

        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="modal_taskdetaildone" tabindex="-1" aria-labelledby="modal_taskdetaildone" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modal_taskdetailLabel">task details</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
        <!-- task detail from js func -->
        
        </div>
        <div class="modal-footer">
            <!-- ใส่Todoเฉยๆ -->
          <!-- <button type="button" class="btn btn-primary" onclick="changestatetoToDo()" >To Do</button> -->
        </div>
      </div>
    </div>
  </div>
<!-- end! -->
<script>
var filename = window.location.pathname.split("/").pop();
$(document).ready(function () {
    getSideBar();
});
$(document).ready(function() {
    let documentId = localStorage.getItem('documentId');
    if (documentId) {
        getScrumboardreload(documentId);
        // Clear the documentId from localStorage
        localStorage.removeItem('documentId');
    }
});


function getSideBar() {
    console.log("filename: " + filename);
    $.ajax({
        url: "/menu_bar_student",
        type: "GET",
        success: function (data) {
            $(".sidebar").html(data);
            $(".nav-link").each(function () {
                if ($(this).attr("href") == filename) {
                    $(this).addClass("active");
                } else {
                    $(this).removeClass("active");
                }
            });
        },
    });

}



    function saveTask() {
        let taskName = $('#taskName').val(); //
        let member = $('#mutiselect').val(); //
        let description = $('#description').val(); //
        let documentId = $('#doc_id').val(); //
        let deadline = $('#deadline').val(); //
        console.log("dead: " + deadline)
        let task = {
            taskName: taskName,
            member: member,
            deadline: deadline,
            description: description,
            documentId : documentId
        };
        console.log("task: " + task)
        $.ajax({
            url: "/createTask",
            type: "POST",
            data: JSON.stringify(task),
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
                console.log("data: " + data)
                localStorage.setItem('documentId', documentId);
            location.reload(); // Reload the page
            }
        });
    }
function getTaskDetail(taskName, deadline, member, description , documentId) {
    console.log('taskId in getTaskDetail: ', documentId); // Add this line
    $('#modal_taskdetail .modal-body').html(
        '<h3>Task Name: ' + taskName + '</h3>' +
        '<p>Deadline: ' + deadline + '</p>' +
        '<p>Member: ' + member + '</p>' +
        '<p>Description: ' + description + '</p>'  +
        '<button type="button" class="btn btn-danger" onclick="deleteTask()" >Delete Task </button>'
    );
    $('#changestatetoDoing').data('task-id', documentId);
    $('.btn-danger').data('task-id', documentId);
}
function getTaskDetaildoing(taskName, deadline, member, description, documentId) {
    console.log('taskId in getTaskDetail: ', documentId); // Add this line
    $('#modal_taskdetaildoing .modal-body').html(
        '<h3>Task Name: ' + taskName + '</h3>' +
        '<p>Deadline: ' + deadline + '</p>' +
        '<p>Member: ' + member + '</p>' +
        '<p>Description: ' + description + '</p>' +
        '<button type="button" class="btn btn-danger" onclick="deleteTask()" >Delete Task </button>'
        
    );
    $('#changestatetoChecking').data('task-id', documentId);
    $('#changestatetoToDo').data('task-id', documentId);
    $('.btn-danger').data('task-id', documentId);
}
function getTaskDetailchecking(taskName, deadline, member, description, documentId) {
    console.log('taskId in getTaskDetail: ', documentId); // Add this line
    $('#modal_taskdetailchecking .modal-body').html(
        '<h3>Task Name: ' + taskName + '</h3>' +
        '<p>Deadline: ' + deadline + '</p>' +
        '<p>Member: ' + member + '</p>' +
        '<p>Description: ' + description + '</p>'  +
        '<button type="button" class="btn btn-danger" onclick="deleteTask()" >Delete Task </button>'
    );
    $('#changestatetoDone').data('task-id', documentId);
    $('#changestatetoToDo').data('task-id', documentId);
    $('.btn-danger').data('task-id', documentId);
}
function getTaskDetaildone(taskName, deadline, member, description, documentId) {
    console.log('taskId in getTaskDetail: ', documentId); // Add this line
    $('#modal_taskdetaildone .modal-body').html(
        '<h3>Task Name: ' + taskName + '</h3>' +
        '<p>Deadline: ' + deadline + '</p>' +
        '<p>Member: ' + member + '</p>' +
        '<p>Description: ' + description + '</p>'  +
        '<button type="button" class="btn btn-danger" onclick="deleteTask()" >Delete Task </button>'
    );
    $('.btn-danger').data('task-id', documentId);
}
$(document).ready(function() {
    let doc_id = $('#doc_id').val();
    $.ajax({
        url: "/getTasks",
        type: "GET",
        data: { status: "To Do",
                doc_Id : doc_id },
        success: function(tasks) {
            console.log("Returned tasks: ", tasks); // Log the returned tasks
            for (let i = 0; i < tasks.length; i++) {
                let task = tasks[i];
                let taskElement = '<button class="task" data-bs-toggle="modal" data-bs-target="#modal_taskdetail" onclick="getTaskDetail(\'' + task.taskName + '\', \'' + task.deadline + '\', \'' + task.member + '\', \'' + task.description+ '\', \'' + task.documentId + '\')">' +
                    '<input type="hidden" id="taskdoc_id" value="' + task.documentId + '">' +              
                    '<h3>' + task.taskName + '</h3>' +
                                  '<p>' + task.deadline + '</p>' +
                                  '<p>' + task.member + '</p>' +
                                  '</button>';
                $('#todotask').append(taskElement);
            }
        },
        error: function(jqXHR, textStatus, errorThrown) {
            console.log("AJAX error: ", textStatus, errorThrown); // Log any AJAX errors
        }
    });
});
$(document).ready(function() {
    let doc_id = $('#doc_id').val();
    $.ajax({
        url: "/getTasks",
        type: "GET",
        data: { status: "Done",
                doc_Id : doc_id },
        success: function(tasks) {
            console.log("Returned tasks: ", tasks); // Log the returned tasks
            for (let i = 0; i < tasks.length; i++) {
                let task = tasks[i];
                let taskElement = '<button class="task" data-bs-toggle="modal" data-bs-target="#modal_taskdetaildone" onclick="getTaskDetaildone(\'' + task.taskName + '\', \'' + task.deadline + '\', \'' + task.member + '\', \'' + task.description+ '\', \'' + task.documentId + '\')">' +
                    '<input type="hidden" id="taskdoc_id" value="' + task.documentId + '">' +              
                    '<h3>' + task.taskName + '</h3>' +
                                  '<p>' + task.deadline + '</p>' +
                                  '<p>' + task.member + '</p>' +
                                  '</button>';
                $('#donetask').append(taskElement);
            }
        },
        error: function(jqXHR, textStatus, errorThrown) {
            console.log("AJAX error: ", textStatus, errorThrown); // Log any AJAX errors
        }
    });
});
$(document).ready(function() {
    let doc_id = $('#doc_id').val();
    $.ajax({
        url: "/getTasks",
        type: "GET",
        data: { status: "Checking",
                doc_Id : doc_id },
        success: function(tasks) {
            console.log("Returned tasks: ", tasks); // Log the returned tasks
            for (let i = 0; i < tasks.length; i++) {
                let task = tasks[i];
                let taskElement = '<button class="task" data-bs-toggle="modal" data-bs-target="#modal_taskdetailchecking" onclick="getTaskDetailchecking(\'' + task.taskName + '\', \'' + task.deadline + '\', \'' + task.member + '\', \'' + task.description+ '\', \'' + task.documentId + '\')">' +
                    '<input id="taskID" type="hidden" id="taskdoc_id" value="' + task.documentId + '">' +
                                    '<h3>' + task.taskName + '</h3>' +
                                  '<p>' + task.deadline + '</p>' +
                                  '<p>' + task.member + '</p>' +
                                  '</button>';
                $('#checkingtask').append(taskElement);
            }
        },
        error: function(jqXHR, textStatus, errorThrown) {
            console.log("AJAX error: ", textStatus, errorThrown); // Log any AJAX errors
        }
    });
});
$(document).ready(function() {
    let doc_id = $('#doc_id').val();
    $.ajax({
        url: "/getTasks",
        type: "GET",
        data: { status: "Doing",
                doc_Id : doc_id },
        success: function(tasks) {
            console.log("Returned tasks: ", tasks); // Log the returned tasks
            for (let i = 0; i < tasks.length; i++) {
                let task = tasks[i];
                let taskElement = '<button class="task" data-bs-toggle="modal" data-bs-target="#modal_taskdetaildoing" onclick="getTaskDetaildoing(\'' + task.taskName + '\', \'' + task.deadline + '\', \'' + task.member + '\', \'' + task.description+ '\', \'' + task.documentId + '\')">' +
                    '<input type="hidden" id="taskdoc_id" value="' + task.documentId + '">' +              
                    '<h3>' + task.taskName + '</h3>' +
                                  '<p>' + task.deadline + '</p>' +
                                  '<p>' + task.member + '</p>' +
                                  '</button>';
                $('#doingtask').append(taskElement);
            }
        },
        error: function(jqXHR, textStatus, errorThrown) {
            console.log("AJAX error: ", textStatus, errorThrown); // Log any AJAX errors
        }
    });
});

// Change task status 


function changestatetoDone(){
    let taskdoc_Id = $('#changestatetoDone').data('task-id');
    let documentId = $('#doc_id').val(); //
    console.log("doc_id: " + documentId)
    console.log("taskdoc_id: " + taskdoc_Id)
    $.ajax({
        url: "/changeState",
        type: "POST",
        data: { status: "Done",
        taskdoc_Id : taskdoc_Id,
        documentId : documentId 
    },
    success: function(response) {
            alert(response.message);
            if(response.message == "Task status updated successfully") {
                localStorage.setItem('documentId', documentId);
                location.reload();
            }
        },
        error: function(jqXHR, textStatus, errorThrown) {
            console.log("AJAX error: ", textStatus, errorThrown); // Log any AJAX errors
        }
    });
}
function changestatetoDoing(){
    let taskdoc_Id = $('#changestatetoDoing').data('task-id');
    let documentId = $('#doc_id').val(); //
    console.log("doc_id: " + documentId)
    console.log("taskdoc_id: " + taskdoc_Id)
    $.ajax({
        url: "/changeState",
        type: "POST",
        data: { status: "Doing",
        taskdoc_Id : taskdoc_Id,
        documentId : documentId  
    },
    success: function(response) {
            alert(response.message);
            if(response.message === "Task status updated successfully") {
                localStorage.setItem('documentId', documentId);
                location.reload();
            }
        },
        error: function(jqXHR, textStatus, errorThrown) {
            console.log("AJAX error: ", textStatus, errorThrown); // Log any AJAX errors
        }
    });
}
function changestatetoChecking(){
    let taskdoc_Id = $('#changestatetoChecking').data('task-id');
    let documentId = $('#doc_id').val(); //
    console.log("doc_id: " + documentId)
    console.log("taskdoc_id: " + taskdoc_Id)
    $.ajax({
        url: "/changeState",
        type: "POST",
        data: { status: "Checking",
        taskdoc_Id : taskdoc_Id,
        documentId : documentId  
    },
    success: function(response) {
            alert(response.message);
            if(response.message === "Task status updated successfully") {
                localStorage.setItem('documentId', documentId);
                location.reload();
            }
        },
        error: function(jqXHR, textStatus, errorThrown) {
            console.log("AJAX error: ", textStatus, errorThrown); // Log any AJAX errors
        }
    });
}
function changestatetoToDo(){
    let taskdoc_Id = $('#changestatetoToDo').data('task-id');
    let documentId = $('#doc_id').val(); //
    console.log("doc_id: " + documentId)
    console.log("taskdoc_id: " + taskdoc_Id)
    $.ajax({
        url: "/changeState",
        type: "POST",
        data: { status: "To Do",
        taskdoc_Id : taskdoc_Id,
        documentId : documentId  
    },
       success: function(response) {
            alert(response.message);
            if(response.message === "Task status updated successfully") {
                localStorage.setItem('documentId', documentId);
                location.reload();
            }
        },
        error: function(jqXHR, textStatus, errorThrown) {
            console.log("AJAX error: ", textStatus, errorThrown); // Log any AJAX errors
        }
    });
}
function deleteTask(){

    let taskdoc_Id = $('.btn-danger').data('task-id');
    let documentId = $('#doc_id').val(); //
    console.log("doc_id: " + documentId)
    console.log("taskdoc_id: " + taskdoc_Id)
    $.ajax({
        url: "/deleteTask",
        type: "POST",
        data: { 
        taskdoc_Id : taskdoc_Id,
        documentId : documentId  
    },
    success: function(response) {
            alert(response.message);
                localStorage.setItem('documentId', documentId);
                location.reload();
            
        },
        error: function(jqXHR, textStatus, errorThrown) {
            console.log("AJAX error: ", textStatus, errorThrown); // Log any AJAX errors
        }
    });
}
// function getMemberProfile(){
//     let username = $('.getprofile').val();
//     console.log("username: " + username)

//     $.ajax({
//         url: "/getMemberProfile",
//         type: "GET",
//         data: { 
//         username : username,
//     },
//         success: function(memberprofile) {
//             console.log("Returned memberprofile: ", memberprofile); // Log the returned tasks

   
//         },
//         error: function(jqXHR, textStatus, errorThrown) {
//             console.log("AJAX error: ", textStatus, errorThrown); // Log any AJAX errors
//         }
//     });
// }


</script>
</body>


</html>

